<div class="container">
    <div class="card">
        <h3 class="text-center">List of Users</h3>
        <div class="card-body">
            <table class="table table-stripped">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Salary</th>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.age}}</td>
                        <td>{{user.salary}}</td>
                        <td><button>Edit</button></td>
                        <td><button>Remove</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>